{% extends 'base.html' %}

{% block title %}Lista Zamówień{% endblock %}

{% block content %}
    <h1>Lista Zamówień</h1>
    <ul>
        {% for zamowienie in zamowienia %}
            <li>
                {{ zamowienie.klient.imie }} {{ zamowienie.klient.nazwisko }} -
                {{ zamowienie.owoc.nazwa }} -
                {{ zamowienie.ilosc }} kg -
                {{ zamowienie.data|date:"Y-m-d H:i" }}
            </li>
        {% empty %}
            <li>Brak zamówień.</li>
        {% endfor %}
    </ul>
{% endblock %}